body {
    font: normal 20px Helvetica;
    line-height: 25px;
    background: #f3f3f3;
}
ul {
    list-style-type: none;
}
li {
    display: block;
    padding: 5px 0;
}
img {
    width: 25px;
    height: 25px;
}
.app {
    width: 1000px;
    padding: 10px;
    margin: 10px auto;
    background: #fff;
}
.header {
    border-bottom: 1px solid #aaa;
}
.logo {
    text-align: center;
    font: bold 24px Calibri;
}
.logo img {
    width: auto;
    height: 50px;
}
.title-input {
    margin-top: 15px;
    font: normal 28px Calibri;
    text-align: center;
    border: none;
    width: 100%;
    border-bottom: 2px solid #888;
}
.title-input:focus,.button:focus {
    outline: 0;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
.rule-text {
    display: block;
    padding: 0 0 15px 30px;
}
.allow>.rule-text {
    background: url(/images/allow.png) no-repeat;
    background-size: 25px 25px;
    background-position: 0 0;
}
.deny>.rule-text {
    background: url(/images/deny.png) no-repeat;
    background-size: 25px 25px;
    background-position: 0 0;
}
.alert>.rule-text {
    background: url(/images/alert.png) no-repeat;
    background-size: 25px 25px;
    background-position: 0 0;
}
.info>.rule-text {
    background: url(/images/info.png) no-repeat;
    background-size: 25px 25px;
    background-position: 0 0;
}
.container {
    overflow: hidden;
    clear: both;
}
.rule-type {
    padding: 3px;
    border-bottom: 2px solid #fff;
}
.selected {
    border-bottom: 2px solid #F05637;
}
.buttons {
    text-align: center;
}
.button {
    padding: 6px 25px;
    background: #F05637;
    color: #fff;
    border-radius: 20px;
    border: none;
}

/* EDITOR */

.editor {

}
.editor-input {
    width: 50%;
}