body {
    font: normal 20px Helvetica;
}
ul {
    list-style-type: none;
}
li {
    display: block;
    padding: 5px 0;
}
img {
    width: 25px;
    height: 25px;
}
.allow {
}
.field {
    display: none;
}
.container {
    overflow: hidden;
    clear: both;
}
.rule-type {
    border: 1px solid #fff;
}
.selected {
    border: 1px solid #008;
}